/*
    .container
    .prev
    .prev-text
    .slides
    .titulo
    .comentario
    .footer
    .button
    .dot-box
*/

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom left, #D41D10, #3F2323);
}
img{
    height: 110px;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 400px;
    height: 600px;
    padding: 32px;
    border-radius: 32px;
}
.slides {
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.prev{
    align-items: center;
    gap: 8px;
    width: 100%;
    color: #D41D1D;
    text-align: none;
}
.prev-text{
    margin-top: 4px;
}
.titulo{
    font-size: 28px;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.comentario{
    width: 200px;
    text-align: center;
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.button{
    background-color: rgba(255, 0, 0, 0.671);
    color: white;
    width: 200px;
    height: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius:999px;
}