* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    display: flex;
    flex-wrap: nowrap;
}

#sobre-container{
    flex: 1.4;
    padding: 2rem 4rem;
}
#sobre-container h2 {
    font-size: 2.4rem;
    max-width:500px;
    margin-bottom: 1rem;
} 

#marca {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: blue;
}
#marca img {
    height: 50px;
    margin-right: 0.6rem;
}
#exclusivo{
    text-transform: uppercase;
    color: orange;
    font-weight: bold;
    font-size: 1rem;
}
#data {
    text-transform: uppercase;
    color: #aaa;
    margin-bottom: 1rem;
}
#descricao {
    max-width: 500px;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}
#sobre-container h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
#palestrantes-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
#palestrantes-card {
    border: 2px solid #ccc;
    padding: 1rem;
    width: 180px;
    text-align: center;
}
#palestrantes-card img{
    width: 130px;
    border-radius: 50%;
    margin-bottom:1rem;
}
#palestrantes-card .nome{
    font-weight: bold;
    margin-bottom: 0.6rem;
}
#palestrantes-card .cargo{
    color: gray;
    font-size: 0.9rem;
}
#form-container{
    flex: 1;
    background-color: #0075ff;
    background-size: cover;
    color: #fff;
}
#form-cadastro{
    margin: 3rem;
    padding: 3rem;
    border: 2px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-cadastro h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
#form-cadastro p{
    margin-bottom: 1rem;
}
#registro-form{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-bottom: 2rem;
}
#registro-nome{
    display: flex;
    gap: 0.5rem;
}
#registro-form input{
    padding: 0.8rem 0.6rem;
    border: none;
    border-radius: 3px;
    outline: none;
}

#email{
    min-width: 100%;
}
#registro-form input[type="submit"]{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

#registro-form input[type="submit"]:hover{
    background-color: #fff;
    color: #0075ff;
}
#beneficios{
    text-align: left;
}
#beneficios h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
#beneficios ul{
    list-style:circle;
    list-style-position: inside;
}
#beneficios li{
    margin-bottom: 0.5rem;
}

@media(max-width:450px) {
    body {
        flex-direction: column;
    }
    #sobre-container{
        padding: 2rem;
        padding-bottom: 0px;
    }
    #sobre-container h2 {
        font-size: 3rem;
    }
    #exclusivo #data{
        font-size: 1.4rem;
    }
    #descricao{
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    #sobre-container h4{
        font-size: 2rem;
    }
    #palestrantes-container {
        flex-direction: column;
    }
    #palestrantes-card{
        width: 100%;
        padding: 2rem;
    }
    #palestrantes-card img{
        width: 180px;
    }
    #palestrantes-card .nome{
        font-size: 1.6rem;
    }
    #palestrantes-card .cargo {
        font-size: 1.4rem;
    }
    #form-cadastro{
        margin: 2rem;
        padding: 2rem;
    }
    #registro-form #registro-nome{ 
        gap: 1rem;
    }
}